genoslab-handbook.html_dir
auto
genoslab-handbook/*
genoslab-handbook.aux
genoslab-handbook.ps
genoslab-handbook.dvi
genoslab-handbook.html-stamp
genoslab-handbook.log
genoslab-handbook.out
genoslab-handbook.pdf
genoslab-handbook.toc
genoslab-handbook.toc.old
genoslab-handbook.www_files
figs/*.eps
